.layout {
  display: flex;
}

.mainWrapper {
  flex-grow: 1; 
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px); 
}


.content {
  flex-grow: 1; 
  padding: 2rem; 
  background-color: var(--bg-secondary);
  min-height: calc(100vh - 70px); 
}