.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.mainWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  margin-top: 70px; 
  transition: all 0.3s ease-in-out; 
}
.content {
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--bg-secondary);
  min-height: calc(100vh - 70px);
}
@media (min-width: 768px) {
  
  .layout {
    flex-direction: row;
  }

  .mainWrapper {
    margin-left: 250px;
    margin-top: 0;
    width: calc(100% - 250px);
  }

  .content {
    padding: 2rem;
    min-height: 100vh;
  }
}