
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5; /* O cinza claro que queríamos! */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}